

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-content {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.85em;
    white-space: nowrap;
    z-index: 1001;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
   
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #333;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
    }

   
    p {
        margin: 0;
        line-height: 1.4;
        color: #eee;
    }

    p strong {
        color: #fff;
    }
}